lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results

npm-debug.log
node_modules
build
*.graffle
bower_components
.DS_Store
settings.js
.idea/
builtAssets/
build/

dump.rdb
.vscode

*.bundle.js
pm2.json