doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(style='padding: 20px;')
    block content
    script(src='/javascripts/zepto.js')
    script(src='/javascripts/app.bundle.js')
